{% block navbar %} 
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
              <a
              href="{% url 'indexpage' %}"
              class="list-group-item list-group-item-action py-2 "
              aria-current="true"
              >
              <i class="fa-solid fa-house me-3"></i><span>Home</span>

            </a>
            
            <h5 class="list-group-item list-group-item-action py-2 mt-5"> Your Settings</h5>
            
    
            <a 
            href="{% url 'user_settings' %}" 
            class="list-group-item list-group-item-action py-2 "
            >
            <i class="fa-solid fa-pen-to-square me-3"></i></i><span>Edit Profile</span>
            </a>
            <a 
            href="{% url 'my_news' %}" 
            class="list-group-item list-group-item-action py-2 "
            > 
            <i class="fa-sharp fa-solid fa-newspaper me-3"></i><span>My News</span>
        </a>
        
        <a 
        href="{% url 'my_posts' %}" 
        class="list-group-item list-group-item-action py-2 "
        >
          <i class="fa-solid fa-comment me-3"></i><span>My Posts</span>
          </a>

          
          <a 
          href="{% url 'followers' %}" 
          class="list-group-item list-group-item-action py-2 "
          >
          <i class="fa-solid fa-heart me-3"></i><span>Followers</span>
          </a>
          
          <a 
          href="{% url 'following' %}" 
          class="list-group-item list-group-item-action py-2 "
          >
          <i class="fa-solid fa-plus me-3"></i></i><span>Following</span>
          </a>
          
          {% if user.designation == 'FACULTY' and user.is_elevated %}
          <a 
          href="{% url 'accept_news' %}" 
          class="list-group-item list-group-item-action py-2 "
          >
          <i class="fa-solid fa-square-check me-3"></i><span>Accept News</span>
          </a>
          {% endif %}

          <a 
          href="{% url 'logout_user' %}" 
          class="list-group-item list-group-item-action py-2 "
          >
          <i class="fa-solid fa-right-from-bracket me-3 text-danger"></i><span class="text-danger">Logout</span>

          </a>
          

      </div>
      </div>
  </nav>
  <!-- Sidebar -->
  </header>
{% endblock %}