{% block navbar %}
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white border-end border-1 border-dark">
        <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a
            href="{% url 'indexpage' %}"
            class="list-group-item list-group-item-action py-2 "
            aria-current="true"
            >
              <i class="fa-solid fa-house me-3"></i><span>Home</span>

            </a>

          <h5 class="list-group-item py-2 mt-5">Community</h5>


            <a
            href="{% url 'news' %}"
            class="list-group-item list-group-item-action py-2 "
            aria-current="true"
            >
            <i class="fa-sharp fa-solid fa-newspaper me-3"></i><span>News</span>

            </a>
            <a
            href="#"
            class="list-group-item list-group-item-action py-2 "
            aria-current="true"
            >
            <i class="fa-solid fa-comment me-3"></i></i><span>Global Feed</span>
            </a>
            
            <a
            href="{% url 'archives' %}"
            class="list-group-item list-group-item-action py-2 "
            aria-current="true"
            >          
            <i class="fa-sharp fa-solid fa-file-zipper me-3"></i><span>Archives</span>

            </a>
            
          <h5 class="list-group-item py-2 mt-5">Join Us</h5>


            <a 
            href="{% url 'login_page' %}" 
            class="list-group-item list-group-item-action py-2 "
            >
            <i class="fa-solid fa-right-to-bracket me-3 text-success"></i><span class="text-success">Login</span>

            </a>
            
            <a 
            href="{% url 'register_page' %}" 
            class="list-group-item list-group-item-action py-2 "
            >
            <i class="fa-solid fa-user-plus  me-3 text-warning"></i><span class="text-warning">Register</span>

            </a>
  
        </div>
        </div>
    </nav>
    <!-- Sidebar -->
    </header>
{% endblock %}