
{% block navbar %} 
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white border-end border-1 border-dark">
      <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
          <a
          href="{% url 'indexpage' %}"
          class="list-group-item list-group-item-action py-2 "
          aria-current="true"
          >
          <i class="fa-solid fa-house me-3"></i><span>Home</span>
          </a>
          
          <h5 class="list-group-item py-2 mt-5">Community</h5>
          
          
          <a 
          href="{% url 'news' %}" 
          class="list-group-item list-group-item-action py-2 "
          >
          <i class="fa-sharp fa-solid fa-newspaper me-3"></i><span>News</span>
        </a>
        
        <a 
        href="{% url 'global_feed' %}" 
        class="list-group-item list-group-item-action py-2 "
        >
        <i class="fa-solid fa-comment me-3"></i></i><span>Global Feed</span>
      </a>
      
      <!-- <a 
      href="{% url 'my_feed'%}" 
      class="list-group-item list-group-item-action py-2 "
      >
      <i class="fa-solid fa-comments me-3"></i></i><span>My Feed</span>
    </a> -->
    
    <a 
    href="{% url 'archives' %}" 
          class="list-group-item list-group-item-action py-2 "
          >
          <i class="fa-sharp fa-solid fa-file-zipper me-3"></i><span>Archives</span>
        </a>
        
        <h5 class="list-group-item py-2 mt-5">Create</h5>
        
        <a 
        href="{% url 'create_news' %}" 
        class="list-group-item list-group-item-action py-2 "
        >
        <i class="fa-sharp fa-solid fa-feather-pointed me-3"></i><span>Create News</span>
      </a>
        <!-- <a 
        href="#" 
        class="list-group-item list-group-item-action py-2 "
        >
        <i class="fa-solid fa-pen me-3"></i><span>Write Post</span>
      </a> -->
        
        <h5 class="list-group-item py-2 mt-5">Profile</h5>

        
        <a 
        href="{% url 'user_profile' request.user.username %}" 
        class="list-group-item list-group-item-action py-2 "
        >
        <i class="fa-sharp fa-solid fa-user me-3"></i></i><span>My Profile</span>
      </a>

      <a 
      href="{% url 'user_settings' %}" 
      class="list-group-item list-group-item-action py-2 "
      >
          <i class="fa-sharp fa-solid fa-gear me-3"></i><span>Profile Settings</span>
          </a>
          
          <a 
          href="{% url 'logout_user' %}" 
          class="list-group-item list-group-item-action py-2 "
          >
          <i class="fa-solid fa-right-from-bracket me-3 text-danger"></i><span class="text-danger">Logout</span>
          </a>
          

      </div>
      </div>
  </nav>
  <!-- Sidebar -->
  </header>
{% endblock %}