{% extends 'base_templates/base.html' %}
{% block title %} Login {% endblock %}


{% block navbar %}
    {% if request.user.is_authenticated %}
        {% include 'base_templates/navbar_loggedin.html' %}
    {% else %}    
        {% include 'base_templates/navbar_notloggedin.html' %}
    {% endif %}
{% endblock %}


{% block body %}

<div class="spacing mt-5">
</div>

<div class="w-75 row">
    <div class="col-6 p-5 rounded-2" style="background-color: white;">

        <div class="row">
            <div class="col-12 p-3">
                <h1>Log In</h1>
            </div>
        </div>
    
        <!-- Messages -->
        {%  for message in messages %}
        <div class="row p-3">
                <div class="bg-white ">
                    {{message}}
                </div>
        </div>
        {% endfor %}
    
        <!-- Form -->
        {% load widget_tweaks %}
        <div class="row">
            <form class='p-3' method="post" action="{% url 'login_page' %}">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                  {% render_field form.username class+='form-control' %}
                  <!-- <input type="email" id="form2Example1" class="form-control" /> -->
                  <label class="form-label" for="form2Example1">Username</label>
                </div>
                
                <!-- Password input -->
                <div class="form-outline mb-4">
                    
                  {% render_field form.password class+='form-control' %}
                  <!-- <input type="password" id="form2Example2" class="form-control" /> -->
                  <label class="form-label" for="form2Example2">Password</label>
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <!-- <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <a href="#!">Forgot password?</a>
                        
                    </div>
                </div> -->
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
              
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Not a member? <a href="{% url 'register_page' %}">Register</a></p>
                </div>
              </form>
        </div>
    </div>

    {% load static %}
    <div class="col-6 bg-primary">
        <img src="{% static 'images/login_image.png' %}" alt="" class="img-fluid">
    </div>

</div>

{% endblock %}