{% extends 'base_templates/base.html' %}
{% block title %} News {% endblock %}



{% block navbar %}
    {% if request.user.is_authenticated %}
        {% include 'base_templates/navbar_loggedin.html' %}
    {% else %}    
        {% include 'base_templates/navbar_notloggedin.html' %}
    {% endif %}
{% endblock %}

{% block body %}
<div class="display-4">
    All News
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for news in all_news %}
    <div class="col rounded-0 ">
        <div class="card rounded-0 border border-dark" style="height: 485px; width: 395px;">
        <img src="{{news.link_to_banner}}" class="object-cover object-center card-img-top rounded-0 border-bottom border-dark" style="height: 230px;"/>
        
        <div class="card-body">
            <a href="{% url 'view_news' news.news_id %}" class="fw-bolder text-black"><span class="card-title h5">{{news.headline | truncatechars:64}}</span></a>
            
            <p class="text-muted">{{news.posted_date | date:"D d M Y"}} | by 
                <a href="{% url 'user_profile' news.posted_by %}" class="text-right rounded-0 fs-6">@{{news.posted_by.first_name | capfirst}} {{news.posted_by.last_name | capfirst}} </a>
            </p>
            <hr>
            <p class="card-text">
                {{news.introduction}}
            </p>
        </div>
        </div>
    </div>
    {% endfor %}
</div>  

{% endblock %}