{% extends 'base_templates/base.html' %}
{% block title %} News {% endblock %}



{% block navbar %}
    {% if request.user.is_authenticated %}
        {% include 'base_templates/navbar_loggedin.html' %}
    {% else %}    
        {% include 'base_templates/navbar_notloggedin.html' %}
    {% endif %}
{% endblock %}

{% block body %}
<div class="display-4">
</div>

<div class="row row-cols-1 mt-3 row-cols-md-1 w-50 g-4">
    {% for news in all_news %}
    <div class="card rounded-0 text-white" style="background-color:#404258;">
        <div class="card-header">
            <div class="text-muted fs-6">  
                <a href="{% url 'user_profile' news.posted_by %}" class="badge rounded-0 badge-light fs-6">{{news.posted_by.first_name | capfirst}} {{news.posted_by.last_name | capfirst}} </a>
                <span class="lead fs-6">{{news.posted_date | date:"D d M Y"}}  </span>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                <span class="card-title h4 fw-bold">{{news.headline | truncatechars:64}}.</span>
                {{news.content|truncatechars:256}}</p>
                <a href="{% url 'view_news' news.news_id %}" class="btn btn-primary">View Story</a>
                
                {% if user.designation == 'FACULTY' and user.is_elevated %}
                <a href="{% url 'delete_news' news.news_id%}" class="btn btn-danger">Delete News</a>
                {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>

{% endblock %}