{% extends 'base_templates/base.html' %}
{% block title %} News {% endblock %}

{% block navbar %}
    {% if request.user.is_authenticated %}
        {% include 'base_templates/navbar_loggedin.html' %}
    {% else %}    
        {% include 'base_templates/navbar_notloggedin.html' %}
    {% endif %}
{% endblock %}


{% block body %}
    <div class="mt-5"></div>

    <div class="banner row mt-5 pattern-polka-v2 border rounded-0 border-dark border-1 d-flex justify-content-end align-items-end">
        <div class="col-4 bg-light border-end display-flex p-4">
            <h1 class="display-4 fw-bold">{{user.first_name | capfirst}}</h1>
            <h1 class="display-4 fw-bold">{{user.last_name | capfirst}}</h1>
            <h5 class="text-primary">@{{user.username}} <span class="badge badge-primary">{{user.designation}}</span></h5>
            <span class="text-muted fs-6">Department:</span> <span class="fs-4 fw-bold">{{user.department}}</span>
        </div>
        <div class="col-8 h-100 d-flex justify-content-end  flex-fill my-3">
          
          {% if not my_profile and follow == None and logged_in %}
          
          <a
          class="nav-link active align-content-baseline rounded-0 border-1 border border-primary p-2 fw-bold px-5"
          href="{% url 'follow' user %}"
          style="background-color: rgb(217, 243, 250);"
          >Follow</a>
          
          {% endif %}


          {% if not my_profile and follow != None and logged_in %}
          
          <a
          class="nav-link active align-content-baseline rounded-0 border-1 border border-primary p-2 fw-bold px-5"
          href="{% url 'unfollow' user %}"
          style="background-color: rgb(217, 243, 250);"
          >Unfollow</a>
          
          {% endif %}
        
        
          </div>
    </div>

    <div class="row mt-5 ">

        <!-- Pills navs -->
      <ul class="nav nav-pills ms-0 mb-3 border rounded-0 border-dark border-1 p-2" id="ex1" role="tablist" style="background-color: #ffd300;">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active rounded-0 border-1 border border-dark"
              id="ex1-tab-1"
              data-mdb-toggle="pill"
              href="#ex1-pills-1"
              role="tab"
              aria-controls="ex1-pills-1"
              aria-selected="true"
              >News</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link rounded-0 border-1 border border-dark"
              id="ex1-tab-2"
              data-mdb-toggle="pill"
              href="#ex1-pills-2"
              role="tab"
              aria-controls="ex1-pills-2"
              aria-selected="false"
              >Posts</a
            >
          </li>
        </ul>
  <!-- Pills navs -->
  
  <!-- Pills content -->
        <div class="tab-content p-3 bg-light border border-1 border-dark rounded-0 pattern-polka-v2" id="ex1-content">
          <div
            class="tab-pane fade show active"
            id="ex1-pills-1"
            role="tabpanel"
            aria-labelledby="ex1-tab-1"
          >
              <div class="display-6 p-3 m-3 border border-1 border-dark" style="background-color: #fff0e5;">
                  All news by {{user.username|capfirst}}
              </div>
              <div class="row row-cols-1 p-3 row-cols-md-3 g-4">
                {% for news in all_news %}
                <div class="col rounded-0 ">
                    <div class="card rounded-0 border border-dark" style="height: 485px; width: 395px;">
                    <img src="{{news.link_to_banner}}" class="object-cover object-center card-img-top rounded-0 border-bottom border-dark" style="height: 230px;"/>
                    
                    <div class="card-body">
                        <a href="{% url 'view_news' news.news_id %}" class="fw-bolder text-black"><span class="card-title h5">{{news.headline | truncatechars:64}}</span></a>
                        
                        <p class="text-muted">{{news.posted_date | date:"D d M Y"}} | by 
                            <a href="{% url 'user_profile' news.posted_by %}" class="text-right rounded-0 fs-6">@{{news.posted_by.first_name | capfirst}} {{news.posted_by.last_name | capfirst}} </a>
                        </p>
                        <hr>
                        <p class="card-text">
                            {{news.introduction}}
                        </p>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>  

          </div>
          <div class="tab-pane fade" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            <div class="display-6 p-3 m-3 border border-1 border-dark" style="background-color: #fff0e5;">
              All Posts by {{user.username|capfirst}}
            </div>

            <div class="row row-cols-1 p-3 row-cols-md-3  g-4">
              {% for post in all_posts %}
              <div class="card rounded-0 border border-dark border-1 bg-light my-2 m-3 w-75">
                <div class="card-body">
                    <div class="p-1 fw-bold"> @{{ post.posted_by }} <span class="p-2 text-muted" style="font-size: 12px;">{{ post.posted_date | date:"D d M Y" }}</span>  
                    </div>
                    <p class="card-text p-1 fs-3">
                        {{ post.content }} 
                    </p>
                </div>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
  <!-- Pills content -->
    </div>

{% endblock %}